/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 *= require foundation_and_overrides

 */
@import "foundation_and_overrides";
@import "foundation-icons";
@font-face{
    font-family: 'Unicorn';
    src: font-url("Unicorn.otf") unquote("format('opentype')");
    font-weight: normal;
    font-style: normal;
}


$unicorn_font: 'Unicorn'; 

$mustard: #806600;
h1 {color: $white;}
h2 {color: $white; }
h3 {color: $white;}
h4 {color: $white;}
h5 {color: $white;}

a { color: inherit; } 

footer {
  color: $white;
  padding-top: 2em;
}

.info {
  background-color: $mustard;
}
