<div class="container">
  <% flash.each do |name, msg| %>
    <div> 
      <% if msg.kind_of?(Array) %>
        <ul>
          <% for message in msg %>
            <li><%= message %></li>
          <% end %>
        </ul>
      <% else %>
        <%= msg %>
      <% end %>
    </div>
  <% end %>
</div>